@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>La mia pizzeria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Pizzeria da Cinzia</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">News</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>



    <main>

        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h1 class="my-5">Menù pizze</h1>


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nome pizza</th>
                                <th scope="col">Descrizione</th>
                                <th scope="col">Immagine</th>
                                <th scope="col">Prezzo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Margherita</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has  ever since the.</td>
                                <td><img width="200" src="~/Img/pizza-storia.jpg" alt="Immagine pizza margherita" /></td>
                                <td>€ 7.50</td>
                                <td><a href="#">Modifica</a>
                                <td><a href="#">Elimina</a>
                            </tr>
                            <tr>
                                <td>Capricciosa</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard text ever since the.</td>
                                <td><img width="200" src="~/Img/capricciosa.jpg" alt="Immagine pizza capricciosa" /><</td>
                                <td>€ 9.50</td>
                                <td><a href="#">Modifica</a>
                                <td><a href="#">Elimina</a>
                            </tr>
                            <tr>
                                <td>Pistacchiosa</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard text ever since the.</td>
                                <td> <img width="200" src="~/Img/pistacchio.jpg" alt="Immagine pizza al pistacchio" /></td>
                                <td>€ 12.00</td>
                                <td><a href="#">Modifica</a>
                                <td><a href="#">Elimina</a>
                            <tr>
                                <td>Vegetariana</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard text ever since the.</td>
                                <td><img width="200" src="~/Img/vegetariana.jpg" alt="Immagine pizza vegetariana" /></td>
                                <td>€ 10.00</td>
                                <td><a href="#">Modifica</a>
                                <td><a href="#">Elimina</a>
                            </tr>
                            <tr>
                                <td>Biancaneve</td>
                                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard text ever since the.</td>
                                <td><img width="200" src="~/Img/BIANCANEVE.jpeg" alt="Immagine pizza biancaneve" /></td>
                                <td>€ 6.00</td>
                                <td><a href="#">Modifica</a>
                                <td><a href="#">Elimina</a>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>



    </main>


    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">© 2023 Bryan, Inc</p>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <!-- Inserire Logo Sito -->
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>

